img,
.primary-content--image {
  width: auto;
}

.header {
  background-color: #fff;
}

.primary-content {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/header-background.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/header-background.jpg', sizingMethod='scale')";
}

.contact-box--link {
  position: relative;
}

.gallery--item {
  float: left;
  width: 30%;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  min-width: 90%;
}