/**
 * Layout
 *
 * @author magnify
 */


body {
  @include zen-grid-container();
}


figure {
  background: $border-dottet-small;
}

figcaption {
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 30px;

  color: $gray-darker;
}


%layout-wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}


.header {
  @include zen-grid-item(12, 1);

  background: transparentize($white, .25) url('/images/header-colors.png') left bottom repeat-x;
}

.header-inner {
  @extend %layout-wrapper;

  min-height: 80px;
}

.logo {
  @include zen-grid-item(6, 1);
  @include zen-nested-container();

  margin-top: 15px;
}

.navigation {
  @include zen-grid-item(6, 1, right);
  @include zen-nested-container();

  margin-top: 25px;

  font-family: "Source Sans Pro Light";
  font-size: 120%;
  text-align: right;

  /* Links in navigation */
  a {
    margin-left: 50px;
  }

  a:link {
    color: lighten($black, 50%);
    text-decoration: none;
  }

  a:visited {
    color: lighten($black, 25%);
  }

  a:hover {
    color: $link-color-hover;
  }

  a:focus {
    color: $link-color;
  }
}


/* attention-area area
   ========================================================================== */

.attention-area {
  @include zen-clear(both);
  @include background-size(cover);

  border-bottom: 6px solid $gray;
  margin-bottom: 70px;

  background-image: url('/images/header-background.jpg');
  background-repeat: no-repeat;
}

.attention-area--inner {
  @extend %layout-wrapper;
}

.attention-area--image {
  display: inline-block;
  margin-top: 50px;
}

.attention-area--content {
  @include box-sizing(border-box);

  display: inline-block;
  margin-left: 30px;
  margin-top: 100px;
  max-width: 60%;
  padding-left: 50px;

  vertical-align: top;
}

.attention-area--header {
  font-size: $font-size-giga;
}

.attention-area--lead {
  margin-bottom: 20px;

  font-size: $font-size-larger;
}

.attention-area--text {
  margin-bottom: 30px;

  font-family: "Source Sans Pro Light";
  font-size: $font-size-large;
}

.attention-area--link {
  @extend %action-button;
  @extend %button-large;
}


/* Interest
   ========================================================================== */

.interest-area {
  @include zen-clear(both);
  @include zen-grid-container();
  @extend %layout-wrapper;

  margin-bottom: 70px;
  padding-bottom: 70px;

  background: $border-dottet-large;
}

.interest-area--first {
  @include zen-grid-item(4, 1);
}

.interest-area--second {
  @include zen-grid-item(4, 5);
}

.interest-area--third {
  @include zen-grid-item(4, 1, right);
}

.interest-area--first,
.interest-area--second,
.interest-area--third {
  padding-right: 60px;
  padding-left: 0;
}

.interest-area--content {
  margin-bottom: 30px;
}

.interest-area--link {
  @extend %link-button;
  @extend %button-small;
}


/* Prices
   ========================================================================== */

.prices {
  @extend %layout-wrapper;

  margin-bottom: 70px;
  padding-bottom: 70px;

  background: $border-dottet-large;
}

.prices--inner {
  @include zen-grid-container();

  background: url('/images/wrench.png') right top no-repeat;
}

.prices--header {
  font-size: $font-size-mega;
}

.prices--content {
  @include zen-grid-item(7, 1);
  @include zen-nested-container();
}


/* Info
   ========================================================================== */

.info {
  @include zen-grid-container();
  @extend %layout-wrapper;

  margin-bottom: 70px;
  padding-bottom: 70px;

  background: $border-dottet-large;
}

.info--header {
  font-size: $font-size-mega;
}

.info--content-primary {
  @include zen-grid-item(6, 1);
  @include zen-nested-container();

  padding-right: 20px;

  .info--list {
    margin-bottom: 30px;
  }

  li {
    list-style: disc;
  }
}

.info--content-secondary {
  @include zen-grid-item(6, 1, right);
  @include zen-nested-container();
}

.info--emphasized {
  @extend strong;

  margin-bottom: 30px;
}

.info--link {
  @extend %action-button;
  @extend %button-small;
}


/* Footer
   ========================================================================== */

.footer {
  @include zen-clear(both);
  @include zen-grid-item(12, 1);

  @extend %layout-wrapper;
}
