/**
 * Typography
 *
 * @author magnify
 */


/* Extends
   ========================================================================== */
%page-heading {
  font-size: $font-size-giga;
}


/* Header variants
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}

.page-title {
  @extend %page-heading;

  margin-bottom: 20px;
}
